@{
}
@model Books

@*books summary card*@
<div class="card card-outline-primary m-1 p-1">
    <div class="bg-light p-1">
        <h4>
            @*books title and price*@
            <span class="font-italic">@Model.Title</span>
            <span class="badge badge-pill badge-primary" style="float:right">
                <small>@Model.Price.ToString("c")</small>
            </span>
        </h4>
    </div>
    @*other books info*@
    <div class="card-text p-1">
        <ul>
            <li>Author: @Model.Author</li>
            <li>Publisher: @Model.Publisher</li>
            <li>ISBN: @Model.Isbn</li>
            <li>Classification: @Model.Classification</li>
            <li>Category: @Model.Category</li>
            <li>Number of Pages: @Model.PageCount</li>
        </ul>
    </div>
    @*button to add to cart and go to the cart*@
    @*also hidden input fields with the bookid to correctly update cart and returnurl to go to the correct page the user left from*@
    <form method="post" asp-page="/BuyBooks">
        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-right" data-toggle="tooltip" title="This will automatically add @Model.Title and take you to your cart.">
                Add to Cart
            </button>
        </span>
    </form>
</div>